:global {
  @import 'base';
  @import 'vendor/normalize';

  html {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .ui.sidebar.vertical.menu{
    background-color: #f6f8fa;
    width: 240px;
    border: 0px;
    padding: 60px 20px;
    .logo {
      width: 70px;
      margin-left: -15px;
    }
    .item {
      color: rgb(131,131,131);
      font-weight: 100;
    }
    h3{
      margin-top: 20px;
      font-weight: 100;
      color: #647f94;
      font-size: 1.1rem;
    }
  }
  .container{
    padding-top: 70px;
    width: 700px;
    .ui.green.tiny.message{
      //width: 400px;
      //text-align: left;
    }
    .ui.blue.login.button{
      margin-top: 10rem;
      font-weight: 100;
    }
  }
  .ui.input{
    margin-top: 5rem;
    margin-bottom: 2rem;
    //width: 600px;
  }
  label > i.folder {
    color: rgb(168,167,167)
  }
  .ui.feed > .event {
    margin-bottom: 20px;
  }
  .ui.feed > .help.message{
    margin-top: 100px;
    box-shadow: none;
    .header {
      text-align: left;
      margin-bottom: 10px;
    }
  }
  .ui.feed > .event > .content{
    .summary{
      font-weight: normal;
      width: 550px;
      color: rgb(117,117,117);
      a.path {
        color: rgb(61,60,60)
      }
      .file{
        margin-right: 10px;
        color: rgb(0,84,125)
      }
      .shared{
        margin-top: 5px;
        color: #e47730;
      }
    }
  }
  .ui.feed > .event > .date{
    color: rgb(193,193,193);
    font-weight: 100;
    font-size: .9rem;
    left: 10px;
  }
  .ui.feed > .event > .label .icon{
    font-size: 2em;
    color: rgb(168,167,167)
  }
  .ui.vertical.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
    font-size: .8rem;
    color: rgb(207,207,207);
    background: #FFF;
  }
}
