:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .ui.sidebar.vertical.menu{
    background-color: #f6f8fa;
    width: 240px;
    border: 0px;
    padding: 60px 20px;
    .logo {
      width: 70px;
      margin-left: -15px;
      margin-bottom: 30px;
    }
    .item {
      margin-bottom: 20px;
    }
    h3{
      font-weight: 100;
      color: #647f94;
      font-size: 1.1rem;
      //text-transform: uppercase;
    }
  }
  .container{
    padding-top: 70px;
    width: 700px;
  }
  .ui.input{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 600px;
  }
  .ui.feed > .event {
    margin-bottom: 20px;
  }
  .ui.feed > .event > .content{
    .summary{
      font-weight: normal;
      width: 550px;
      .file{
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
  .ui.feed > .event > .date{
    color: rgb(193,193,193);
    font-weight: 100;
    font-size: .9rem;
    left: 10px;
  }
  .ui.feed > .event > .label .icon{
    font-size: 2em;
    color: rgb(168,167,167)
  }
  .ui.vertical.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
    font-size: .8rem;
    color: rgb(207,207,207);
    background: #FFF;
  }
}
